body {
    font-family: Arial;
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#deal {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#newGame {
    width: 200px;
    height: 75px;
    font-size: 30px;
}